*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app{
    height: 100vh;
    background-color: aquamarine;
    display: flex;
}

aside{
    background-color: lightblue;
    width: 260px;
    padding: 20px;
    overflow-y: scroll;
        }
section{
    flex: 1;
}
li{
    background-color: blue;
    margin: 10px;
}
li small{
    display: block;
}