*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app{
    height: 100vh;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    background-color: #f9f9f9;
}

aside{
    background-color: #f0f2f5;
    width: 260px;
    padding: 20px;
    overflow-y: scroll;
    }
section{
    flex: 1;
}
aside h1{
margin-bottom: 5px;
}
.search{
    padding: 8px;
    margin-bottom: 15px;
    width: 100%;
    display: block;
    border-radius: 4px;
    border:1 px solid #ccc;
}
.not-found-text{
    font-size: 14px;
    text-align: center;
    color: grey;
}
ul{
    list-style: none;
}
li{
     margin: 10px;
     display: flex;
     border-radius: 4px;
     border-bottom: 3px solid #ddd;
     padding: 10px;
     cursor: pointer;
     gap: 10px;
}
li:hover{
background-color: #e6e6e6;
}
li img{
    width: 40px;
    border-radius: 50%;
}
li small{
    display: block;
    color: gray
}
.chat {
    display: flex;
    flex-direction: column;
}
.chay header{
    border-bottom: 1px soliced #ccc;
    padding: 15px;
    background-color: #fafafa;
}
.chat-body{
    flex: 1;
    overflow-y: auto;
    display:flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
.message{
    background-color: yellow;
    max-width: 400px;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.192);
    word-wrap: break-word;
    background-color: #e4e6eb;
}
.message .timestamp{
    color: grey;
    font-size: 12px;
    text-align: end;
    margin-top: 5px;
}
.chat-input{
    padding: 10px;
    display: flex;
    gap: 10px;
}
.chat-input input{
    flex: 1;

}